{% extends "base.html" %}
{% block content %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/150px-Instagram_logo_2022.svg.png"
    width = "100px"
    height = "100px"/>

<div>
<img src="/static/edu/image/profile.jpg"width="100px"/>

    <h2>Instagram</h2>
    <button>프로필 편집</button>
    <p>
        <strong>  
            손흥민<br/>
        </strong>    
        축구선수<br/>
        <a href="{% url 'edu:new_content'%}">새글등록</a>
        <ul>
            {%for feed in feed_list %}
                <li>
                    {{feed.content}}
                    <img src="/media/{{feed.photo}}" width="100px"/>
                </li>
            {% endfor %}
        </ul>
    </p>   
</div>
    <p>
        <a href="https://www.instagram.com/hm_son7/?hl=ko">
            https://www.instagram.com/hm_son7/?hl=ko </p>
        </a>

    <div>
        <div>
            <div>
                <img src="/static/edu/image/hl 1.jpg"height="35px">
            </div>
            <div>
                😊
            </div>
        </div>
        <div>
            <div>
                <img src="/static/edu/image/hl 2.jpg"height="35px">
            </div>
            <div>
                😎
            </div>
        </div>
    </div>        
    <p>
       게시물<br/>
       팔로워<br/>
       팔로우<br/>
       240<br/>
       1305만<br/>
       229<br/>
     </p>  
<div>
    <img src="/static/edu/image/thumbnails/1.jpg"width="32%"/>
    <img src="/static/edu/image/thumbnails/2.jpg"width="32%"/>
    <img src="/static/edu/image/thumbnails/3.jpg"width="32%"/>
    <img src="/static/edu/image/thumbnails/4.jpg"width="32%"/>
    <img src="/static/edu/image/thumbnails/5.jpg"width="32%"/>
    <img src="/static/edu/image/thumbnails/6.jpg"width="32%"/>
    <img src="/static/edu/image/thumbnails/7.jpg"width="32%"/>
    <img src="/static/edu/image/thumbnails/8.jpg"width="32%"/>
    <img src="/static/edu/image/thumbnails/9.jpg"width="32%"/>
</div>

{% endblock content %}