{% extends "base.html" %}
{% block content %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/150px-Instagram_logo_2022.svg.png"
    width = "100px"
    height = "100px"
    <h2>half_bottle</h2>
    <button>프로필 편집</button>
    <p>
        <strong>  
            정서우 (seowoo jung)<br/>
        </strong>    
        작가<br/>
    </p>   
    <p>
        <a href="https://www.youtube.com/"
            needleworn.github.io<br/></p>
        </a>    
    <p>
       게시물<br/>
       팔로워<br/>
       팔로우<br/>
       133<br/>
       408<br/>
       189<br/>
     </p>  

{% endblock content %}